In [1]:
#*args(argument)

In [2]:
def myfunc(a,b):
    return sum((a,b)) * 0.05 #sum((a,b))

In [3]:
myfunc(60,50)

5.5

In [5]:
def myfunc(a,b,c=0,d=0):
    return sum((a,b,c,d))*0.05

In [11]:
myfunc(10,20,30,40)

5.0

In [12]:
def myfunc(*args):
    for item in args:
        print (item)
myfunc(10,20,30,40,50,60)

10
20
30
40
50
60

In [14]:
def myfunc (*args):
    for item in args:
        print(item)
myfunc(10,20,30,40,50,60)

10
20
30
40
50
60

In [7]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit'in kwargs:
        print('my chgoice of friut is {}'.format(kwargs['food']))
    else:
      print('I did not find any fruit here')
myfunc(fruit='Apple',food = 'Rice',veggie = 'lettuce')

{'fruit': 'Apple', 'food': 'Rice', 'veggie': 'lettuce'}
my chgoice of friut is Rice

In [4]:
def mynewfunc(*args,**kwargs):
 print('I would like {} {}'.format(args[0],kwargs['food']))

In [5]:
mynewfunc(10,20,30,40,food= 'Biryani',fruit='Mango',veggie='potato')

I would like 10 Biryani

In [9]:
#Functions #1: *args

Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of 
those arguments

In [10]:
def myfunc(*args):
    return len(args)

In [11]:
myfunc(5,6,7,8)

4

In [12]:
#Functions #2: pick evens

Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list 
containing only those arguments that are even.

In [22]:
def myfunc(*args):
    mylist=[]
    for numbers in args:
        if number%2==0:
            mylist.append(number)
        else:
            pass
    return mylist
my_func(1,2,3,4,5,6,7,8)

NameError: name 'my_func' is not defined

In [17]:
#Functions #10: skyline

Define a function called myfunc that takes in a string, and returns a matching string where every even 
letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains 
letters, and don't worry about numbers, spaces or punctuation. The output string can start with either 
an uppercase or lowercase letter, so long as letters alternate throughout the string.